<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="authoer" content="">
        <!-- styles -->
        <link
         href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css"
             rel="stylesheet">

        <!-- scripts -->
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
        </script>

        <title>Bem-vindo ao FlaskTask!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="page">
            {% for message in get_flashed_messages() %}
              <div class="flash">{{ message }}</div>
            {% endfor %}
            {% if error %}
              <div class="error"><strong>Error:</strong> {{ error }}</div>
            {% endif %}
            
            <br>
            
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>