{% extends "_base.html" %}
{% block content %}

<h1>Bem-vindo ao FlaskTaskr!</h1>
<h3>Por favor faça o login para acessar a tua lista de tarefas</h3>

<form method="post" action="/">
    <span>Username: <input type="text" name="username" value="{{ request.form.username }}"></span>
    <span>Password: <input type="password" name="password" value="{{ request.form.password }}"></span>
    <input type="submit" value="Login">
</form>

<p><em>Use "admin" para username e password</em></p>

{% endblock %}