{% extends "_base.html" %}
{% block content %}

<h1>Bem-vindo ao FlaskTaskr!</h1>
<h3>Por favor faca o login para acessar a tua lista de tarefas</h3>

<form class="form-signin" role="form" method="post" action="/">
    {{ form.csrf_token }}
    <p>
        <!--{{ form.name.label }}: {{ form.name }} -->
        {{ form.name(placeholder="usuario") }}
        {% if form.name.errors %}
          <span class="error">
              {% for error in form.name.errors %}
                {{ error }}
              {% endfor %}
          </span>
        {% endif %}          
    </p>
    <p>
        <!--&nbsp;&nbsp;
        {{ form.password.label }}: {{ form.password }} -->
        {{ form.password(placeholder="senha") }}
        {% if form.password.errors %}
          <span class="error">
              {% for error in form.password.errors %}
                {{ error }}
              {% endfor %}
          </span>
        {% endif %}
        <!--&nbsp;&nbsp;
        <input type="submit" value="Login">-->
    </p>
    <button class="btn btn-sm btn-success" type="submit">Login</button>
    <!--<span>Username: <input type="text" name="username" value="{{ request.form.username }}"></span>
    <span>Password: <input type="password" name="password" value="{{ request.form.password }}"></span>
    <input type="submit" value="Login"> -->
    <br>
    <br>
    <p><em>Deseja criar uma conta? </em><a href="/register">Registre-se!</a></p>
</form>

{% endblock %}